
.uicon {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'uicon'!important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 22px;
	transform:translateZ(0);
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}
 
.icon_class_std_ress_result-1{
  &:before {
    content: unicode($icon_class_std_ress_result-1); 
    color: #4e4f4f;
  }
}

.icon_img_money {
  &:before {
    content: unicode($icon_img_money);     
    color: #4e4f4f;
  }
}
.icon_img_attendace2 {
  &:before {
    content: unicode($icon_img_attendace2);     
    color: #4e4f4f;
  }
}
.icon_img_transfare {
  &:before {
    content: unicode($icon_img_transfare);     
    color: #4e4f4f;
  }
}
.icon_img_switch {
  &:before {
    content: unicode($icon_img_switch);     
    color: #4e4e4e;
  }
}
.icon_img_group_ppl {
  &:before {
    content: unicode($icon_img_group_ppl);     
    color: #4e4f4f;
  }
}
.icon_img_attendace1 {
  &:before {
    content: unicode($icon_img_attendace1);     
    color: #4e4f4f;
  }
}
.icon_img_transfer {
  &:before {
    content: unicode($icon_img_transfer);     
    color: #4e4f4f;
  }
}
.icon_img_present {
  &:before {
    content: unicode($icon_img_present);     
    color: #4e4f4f;
  }
}
.icon_img_truck {
  &:before {
    content: unicode($icon_img_truck);     
    color: #4e4f4f;
  }
}
.icon_img_note {
  &:before {
    content: unicode($icon_img_note);     
    color: #4e4f4f;
  }
}
.icon_img_activation {
  &:before {
    content: unicode($icon_img_activation); 
  }
}
.icon_img_dislike {
  &:before {
    content: unicode($icon_img_dislike);     
    color: #58595b;
  }
}
.icon_img_like {
  &:before {
    content: unicode($icon_img_like);     
    color: #58595b;
  }
}
.icon_img_placemoent_result {
  &:before {
    content: unicode($icon_img_placemoent_result); 
  }
}
.icon_img_attendance {
  &:before {
    content: unicode($icon_img_attendance); 
  }
}
.icon_img_working_days_hours {
  &:before {
    content: unicode($icon_img_working_days_hours); 
  }
}
.icon_img_avaliable_days_hours {
  &:before {
    content: unicode($icon_img_avaliable_days_hours); 
  }
}
.icon_img_user_flag {
  &:before {
    content: unicode($icon_img_user_flag); 
  }
}
.icon_img_reschedule {
  &:before {
    content: unicode($icon_img_reschedule); 
  }
}
.icon_img_placement {
  &:before {
    content: unicode($icon_img_placement);     
    color: #58595b;
  }
}
.icon_img_coffee_icon {
  &:before {
    content: unicode($icon_img_coffee_icon);     
    color: #4d4e4e;
  }
}
.icon_img_delete {
  &:before {
    content: unicode($icon_img_delete);     
    color: #58595b;
  }
}
.icon_img_financial {
  &:before {
    content: unicode($icon_img_financial);     
    color: #58595b;
  }
}
.icon_img_delevere_certificate {
  &:before {
    content: unicode($icon_img_delevere_certificate);     
    color: #58595b;
  }
}
.icon_img_search {
  &:before {
    content: unicode($icon_img_search);     
    color: #58595b;
  }
}
.icon_img_view {
  &:before {
    content: unicode($icon_img_view);     
    color: #58595b;
  }
}
.icon_img_certificate {
  &:before {
    content: unicode($icon_img_certificate);     
    color: #58595b;
  }
}
.icon_img_filter {
  &:before {
    content: unicode($icon_img_filter);     
    color: #58595b;
  }
}
.icon_img_doctor_headset {
  &:before {
    content: unicode($icon_img_doctor_headset);     
    color: #58595b;
  }
}
.icon_img_student {
  &:before {
    content: unicode($icon_img_student);     
    color: #58595b;
  }
}
.icon_img_print_salary_slip {
  &:before {
    content: unicode($icon_img_print_salary_slip);     
    color: #58595b;
  }
}
.icon_img_salary_slip {
  &:before {
    content: unicode($icon_img_salary_slip);     
    color: #58595b;
  }
}
.icon_img_schedule {
  &:before {
    content: unicode($icon_img_schedule);     
    color: #58595b;
  }
}
.icon_img_holiday {
  &:before {
    content: unicode($icon_img_holiday);     
    color: #58595b;
  }
}
.icon_img_decline {
  &:before {
    content: unicode($icon_img_decline);     
    color: #58595b;
  }
}
.icon_img_define {
  &:before {
    content: unicode($icon_img_define);     
    color: #58595b;
  }
}
.icon_img_move {
  &:before {
    content: unicode($icon_img_move); 
  }
}
.icon_img_feedback {
  &:before {
    content: unicode($icon_img_feedback);     
    color: #58595b;
  }
}
.icon_img_remove {
  &:before {
    content: unicode($icon_img_remove);     
    color: #58595b;
  }
}
.icon_img_cancel {
  &:before {
    content: unicode($icon_img_cancel);     
    color: #58595b;
  }
}
.icon_img_stop {
  &:before {
    content: unicode($icon_img_stop);     
    color: #58595b;
  }
}
.icon_img_assign {
  &:before {
    content: unicode($icon_img_assign);     
    color: #58595b;
  }
}
.icon_img_print {
  &:before {
    content: unicode($icon_img_print);     
    color: #58595b;
  }
}
.icon_img_review {
  &:before {
    content: unicode($icon_img_review);     
    color: #58595b;
  }
}
.icon_img_edit {
  &:before {
    content: unicode($icon_img_edit);     
    color: #58595b;
  }
}
.icon_img_detalis_info {
  &:before {
    content: unicode($icon_img_detalis_info);     
    color: #58595b;
  }
}

