$icomoon-font-family: "uicon" !default;
$icomoon-font-path: "fonts" !default;

$icon_change_class_time: "\e944";
$icon_issue_salary: "\e943";
$icon_Add_Discount: "\e938";
$icon_add_makeup: "\e939";
$icon_add_next_class: "\e93a";
$icon_Material_Purchase_History: "\e93b";
$icon_parent_payment: "\e93c";
$icon_refund: "\e93d";
$icon_student_payment: "\e93e";
$icon_Total_Available_Quantity: "\e93f";
$icon_write_off_depit: "\e940";
$icon_class_student_reassesment: "\e91f";
$icon_course_instructer_evaluation: "\e920";
$icon_course_instructer_evaluation_add_1: "\e921";
$icon_course_instructer_evaluation_edit_2: "\e922";
$icon_course_instructer_evaluation_view_1: "\e923";
$icon_edit_permission_1: "\e924";
$icon_material_evaluation: "\e925";
$icon_material_evaluation_edit: "\e926";
$icon_material_evaluation_view: "\e927";
$icon_material_mininum_quantity_of_notification: "\e928";
$icon_material_suppliers: "\e929";
$icon_partenr_invoice_add: "\e92a";
$icon_partner_invoice_statement_of_account: "\e92d";
$icon_settings: "\e92e";
$icon_student_add_1: "\e92f";
$icon_student_edit_1: "\e930";
$icon_student_parent_add: "\e931";
$icon_student_parent_add2: "\e932";
$icon_student_parent_edit: "\e933";
$icon_student_parent_edit2: "\e934";
$icon_student_parent_view: "\e935";
$icon_student_parent_view2: "\e936";
$icon_student_view_1: "\e937";
$icon_class_std_ress_result-1: "\e903";
$icon_img_money: "\e900";
$icon_img_attendace2: "\e901";
$icon_img_transfare: "\e902";
$icon_img_switch: "\e904";
$icon_img_group_ppl: "\e905";
$icon_img_attendace1: "\e906";
$icon_img_transfer: "\e907";
$icon_img_present: "\e908";
$icon_img_truck: "\e909";
$icon_img_note: "\e90a";
$icon_img_activation: "\e90b";
$icon_img_dislike: "\e90c";
$icon_img_like: "\e90d";
$icon_img_placemoent_result: "\e90e";
$icon_img_attendance: "\e90f";
$icon_img_working_days_hours: "\e910";
$icon_img_avaliable_days_hours: "\e911";
$icon_img_user_flag: "\e912";
$icon_img_reschedule: "\e913";
$icon_img_placement: "\e914";
$icon_img_coffee_icon: "\e915";
$icon_img_delete: "\e916";
$icon_img_financial: "\e917";
$icon_img_delevere_certificate: "\e918";
$icon_img_search: "\e919";
$icon_img_view: "\e91a";
$icon_img_certificate: "\e91b";
$icon_img_filter: "\e91c";
$icon_img_doctor_headset: "\e91d";
$icon_img_student: "\e91e";
$icon_img_print_salary_slip: "\e92b";
$icon_img_salary_slip: "\e92c";
$icon_img_schedule: "\e952";
$icon_img_holiday: "\e953";
$icon_img_decline: "\e954";
$icon_img_define: "\e955";
$icon_img_move: "\e956";
$icon_img_feedback: "\e957";
$icon_img_remove: "\e958";
$icon_img_cancel: "\e959";
$icon_img_stop: "\e95a";
$icon_img_assign: "\e95b";
$icon_img_print: "\e95c";
$icon_img_review: "\e95d";
$icon_img_edit: "\e95e";
$icon_img_detalis_info: "\e95f";
$icon_edit_salaries: "\e941";
$icon_view_salaries: "\e942";

